.header {
  height: 3vh;
  vertical-align: sub;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  background-color: #202225;
  color: aliceblue;
}

.body {
  display: flex;
  height: 97vh;
}

.sidebar {
  flex: 1;
  background-color: #202225;
}

.content {
  flex: 7;
  color: aliceblue;
  padding: 30px;
  background-color: #36393f;
  border-left: 30px;
  border-color: yellow;
}
